aiobotocore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_aiobotocore_1787053079/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1782986737989/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1784900377390/work
aioitertools @ file:///home/conda/feedstock_root/build_artifacts/aioitertools_1768757566793/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
anndata @ file:///home/conda/feedstock_root/build_artifacts/anndata_1783009708916/work
array-api-compat @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_array-api-compat_1780923775/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1786861402/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1784970216234/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1786622598436/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1783242827500/work
cellxgene-census @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cellxgene-census_1782409983/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1786835581063/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155975/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1768934076236/work
donfig @ file:///home/conda/feedstock_root/build_artifacts/donfig_1734368700593/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1778770237442/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1779999698269/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1781615776425/work
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1768549059530/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1785796355/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1787108561542/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1787059857/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jmespath_1769161799/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067041/work
legacy-api-wrap @ file:///home/conda/feedstock_root/build_artifacts/legacy-api-wrap_1762187530570/work
llvmlite==0.49.0
matplotlib==3.11.1
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_more-itertools_1779478190/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_msgpack-python_1782460776/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1771610691664/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1783943716/work
natsort @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_natsort_1770905275/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numba @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numba_1787145506/work
numcodecs @ file:///home/conda/feedstock_root/build_artifacts/numcodecs_1764782165587/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1779169198/work/dist/numpy-2.4.6-cp311-cp311-linux_x86_64.whl#sha256=9f5ed645865bdd41eb671568973753a710fda708ed74e7a0b4acf98e7a7a2970
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614468005/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1782912080/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1780037624495/work
pyarrow @ file:///home/conda/feedstock_root/build_artifacts/apache-arrow_1784258008660/work/python
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1745605861230/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1785514189379/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1785077087/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1781621592396/work
scanpy @ file:///home/conda/feedstock_root/build_artifacts/scanpy_1761040974135/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scikit-learn_1780401051/work/dist/scikit_learn-1.9.0-cp311-cp311-linux_x86_64.whl#sha256=e32c932eca94aac3d4ee91ed26d659a9296101fecbfc3e48d2db96503f7a5baf
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1779873994451/work/dist/scipy-1.17.1-cp311-cp311-linux_x86_64.whl#sha256=fb9bc72e4de1a7def4fdab777e350fa5c075ed66f9ad0ac80fa09bd588a1a625
scverse-misc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scverse-misc_1776349918/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
session-info2 @ file:///home/conda/feedstock_root/build_artifacts/session-info2_1775678237394/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1762523551157/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
somacore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_somacore_1750169865/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1764982999281/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tiledb @ file:///home/conda/feedstock_root/build_artifacts/tiledb-py_1782932467538/work
tiledbsoma @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tiledbsoma-py_1769619431/work/apis/python
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1785172528/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1783704735836/work
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1775693595503/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908962415/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1785422010365/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1784526337911/work
zarr @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zarr_1775744500/work
